## Part 1

Task 1 : import the CSV file data/brasil-real-estate-1.csv into dataframe df

Task 2 :Drop all rows with NAN values from df

Task 3: use "lat-lon" columns to create two seperate columns in df "lat", "lon". make sure that the datatype will be float

Task 4: Transform "price_USD" so that all values be floating points instead of strigns

Task 5: drop "lat-lon" columns

Task 6: import the CSV file data/brasil-real-estate-2.csv into dataframe df2

Task 7: use "price_berl" to create new columns named "price_usd" by dividing the value by 3.19

Task 8: drop "price_berl" from columns, as well as any rows that have Nan values

Task 9: concatenate df and df2 into new dataframe named df_new

Task 10: use describe method to create dataframe summary_stats for "area_m2" and "price_usd" columns

Task 11: use groupby method to create a series named mean_price_by_region that shows the mean home price in brazil, sorted from smallest to highest

Task 12: create new dataframe named df_south that contains all homes from df in South region

Task 13: use value_counts method to ctreate a series home_by_state that contains the number of properties in df_south

## Part 2

Task 14: Write a wrangle function that takes the name of csv as argument and perform the following : 

1- read mexico-real-estate-1.csv into df 

2- get only the apartment that locates in mexico city "Distrito Federal" that costs less than 100,000

3- create seperate "lat" and "lon" columns as done before

4- drop columns that are more than 50 % Nan values

5- drop all columns with categorical values

6- return df at last

use glob method to create list of files. it should contains the filename of all mexico real state.

combine your wrangle function, a list comprehnsion and pd.concat to create new dataframe df from all files names from previous task