## Part 1

Task 1 : import the CSV file data/brasil-real-estate-1.csv into dataframe df

In [1]:
# importing libraries
import pandas as pd 
import numpy as np
import csv 
# importing csv file 
brazilDF = pd.read_csv('data.csv')
# brazilDF = pd.read_csv('brasil-real-estate-1.csv', encoding='latin')
# brazilDF = pd.read_csv('winemag-data-130k-v2.csv')

Task 2 :Drop all rows with NAN values from df

In [2]:
brazilDF.dropna()

,Unnamed: 0,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,1,apartment,|Brasil|Alagoas|Macei�|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"

Task 3: use "lat-lon" columns to create two seperate columns in df "lat", "lon". make sure that the datatype will be float

### Splitter
* In order to split the "lat-lon" column, we must know what is the separator, which separate the data from each other, and this separator is called delimeter.
* so in our case it is the comma ','
* after that we iterate over the column of lat-lon and split the data, it will return ana array of number of elements which return
* so in our case will be 2.
* so we take the first element and create for it a new column called "lat" and the second element and create for it a new column called "lon"

In [3]:
brazilDF['lat'] , brazilDF['lon']= [float(firstPart.split(',')[0]) for firstPart in brazilDF['lat-lon']],[float(firstPart.split(',')[1]) for firstPart in brazilDF['lat-lon']]
print(brazilDF['lat'][0] + brazilDF['lon'][0] )

-45.3531193

Task 4: Transform "price_USD" so that all values be floating points instead of strigns

### Reshaping the data
* To be able to finish this requirement we have to neglect he $ sign and to remove all the commas which separate the thousands from the hundreds from the tens and from the units. 
* so to do this we just need to remove the $ sign and the commas and then convert the data type to float

In [4]:
brazilDF['price_usd'] = [float(dollar[1:].replace(',', '')) for dollar in brazilDF['price_usd']]

Task 5: drop "lat-lon" columns
* we need to avoid shallow droping 
  * this can be done by setting inplace parameter to True

In [5]:
brazilDF.drop(columns=['lat-lon'], inplace= True)

Task 6: import the CSV file data/brasil-real-estate-2.csv into dataframe df2

In [6]:
brazilDF2 = pd.read_csv('brazilData2.csv')
brazilDF2

,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_brl
0,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72,414222.98
1,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136,848408.53
2,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75,299438.28
3,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187,848408.53
4,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80,464129.36
5,6,apartment,Pernambuco,Northeast,-8.137671,-34.913349,94,294447.66
6,7,apartment,Pernambuco,Northeast,-8.141599,-34.909179,80,314410.19

Task 7: use "price_berl" to create new columns named "price_usd" by dividing the value by 3.19

In [7]:
brazilDF2['price_usd'] = brazilDF2['price_brl'] / 3.19
brazilDF2['price_usd']

0    129850.463950
1    265958.786834
2     93867.799373
3    265958.786834
4    145495.097179
5     92303.341693
6     98561.188088
Name: price_usd, dtype: float64

Task 8: drop "price_brl" from columns, as well as any rows that have Nan values

In [8]:
brazilDF2.drop(columns=['price_brl'], inplace=True)
brazilDF2.dropna()

,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_usd
0,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72,129850.463950
1,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136,265958.786834
2,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75,93867.799373
3,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187,265958.786834
4,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80,145495.097179
5,6,apartment,Pernambuco,Northeast,-8.137671,-34.913349,94,92303.341693
6,7,apartment,Pernambuco,Northeast,-8.141599,-34.909179,80,98561.188088

Task 9: concatenate df and df2 into new dataframe named df_new

In [9]:
df_new = pd.concat([brazilDF, brazilDF2], axis=1)
df_new

,Unnamed: 0,property_type,place_with_parent_names,region,area_m2,price_usd,lat,lon,Unnamed: 0,property_type,state,region,lat,lon,area_m2,price_usd
0,1.0,apartment,|Brasil|Alagoas|Macei�|,Northeast,110.0,187230.85,-9.644305,-35.708814,1,apartment,Pernambuco,Northeast,-8.134204,-34.906326,72,129850.463950
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,apartment,Pernambuco,Northeast,-8.126664,-34.903924,136,265958.786834
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,apartment,Pernambuco,Northeast,-8.125550,-34.907601,75,93867.799373
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,apartment,Pernambuco,Northeast,-8.120249,-34.895920,187,265958.786834
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,apartment,Pernambuco,Northeast,-8.142666,-34.906906,80,145495.097179
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,apartment,Pernambuco,Northeast,-8.137671,-34.913349,94,92303.341693
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,apartment,Pernambuco,Northeast,-8.141599,-34.909179,80,98561.188088

Task 10: use describe method to create dataframe summary_stats for "area_m2" and "price_usd" columns

In [10]:
## this if we want each alone
df_new['area_m2'].describe()
df_new['price_usd'].describe()

## this if we want both of them together
description = [df_new['area_m2'].describe(), df_new['price_usd'].describe()]
description

[       area_m2     area_m2
 count      1.0    7.000000
 mean     110.0  103.428571
 std        NaN   42.871347
 min      110.0   72.000000
 25%      110.0   77.500000
 50%      110.0   80.000000
 75%      110.0  115.000000
 max      110.0  187.000000,
        price_usd      price_usd
 count       1.00       7.000000
 mean   187230.85  155999.351993
 std          NaN   77666.930509
 min    187230.85   92303.341693
 25%    187230.85   96214.493730
 50%    187230.85  129850.463950
 75%    187230.85  205726.942006
 max    187230.85  265958.786834]

Task 11: use groupby method to create a series named mean_price_by_region that shows the mean home price in brazil, sorted from smallest to highest

In [11]:
# mean_price_by_region = df_new.groupby('price_usd')
mean_price_by_region = df_new.groupby('region')['price_usd'].mean().sort_values()
mean_price_by_region

ValueError: Grouper for 'region' not 1-dimensional

:

Task 12: create new dataframe named df_south that contains all homes from df in South region

In [ ]:
df_south = brazilDF.loc[brazilDF['region'] == 'South' , 'region']
df_south

Series([], Name: region, dtype: object)

Task 13: use value_counts method to ctreate a series home_by_state that contains the number of properties in df_south

In [ ]:
home_by_state = df_south.value_counts()
home_by_state

Series([], Name: region, dtype: int64)

## Part 2

Task 14: Write a wrangle function that takes the name of csv as argument and perform the following : 

1- read mexico-real-estate-1.csv into df 

2- get only the apartment that locates in mexico city "Distrito Federal" that costs less than 100,000

3- create seperate "lat" and "lon" columns as done before

4- drop columns that are more than 50 % Nan values

5- drop all columns with categorical values

6- return df at last

In [ ]:
def wrangle (csvPath): # assume they provide the full path with .csv extension
    # reading the csv file
    df = pd.read_csv(csvPath, encoding='latin')
    # coverting price into float 
    df['price_usd'] = [float(dollar[1:].replace(',', '')) for dollar in brazilDF['price_usd']]
    # getting only the appartment that locates in mexico city and costs less
    appartments = df.loc(df['state'] == 'Distrito Federal' and df['price_usd'] < 100000.0)
    # create a seperate lat and lon
    # df['lat'], df['lon'] = [first.split(',')[0] for first in df['lat-lon']], [first.split(',')[1] for first in df['lat-lon']]
    ## THIS IS ANOTHER WAY FOR SOLUTION USING MAP.
    df['lat'] = df['lat-lon'].map(lambda x: float(x.split(',')[0]))
    df['lon'] = df['lat-lon'].map(lambda x: float(x.split(',')[1]))
    df.head()
    # droping columns with more than 50% nan
    df.drop(columns=[(df.isnull().mean() * 100) > 50], inplace= True)
    # droping all columns with categorical values
    df = df.select_dtypes(exclude='category')
    #returning df
    return df

use glob method to create list of files. it should contains the filename of all mexico real state.

## Glob library 

```python 
import glob as gp

mydir = "{Path}"

file_list = gp.glob(mydir + "*.csv")
print('file_list {}'.format(file_list))
```
this is how we can get a list of all files which ends with csv in a specific directory

In [ ]:
import glob as gp 
files = gp.glob('./mexico-real-estate*')
files

['.\\mexico-real-estate-1.csv',
 '.\\mexico-real-estate-2.csv',
 '.\\mexico-real-estate-3.csv']

combine your wrangle function, a list comprehnsion and pd.concat to create new dataframe df from all files names from previous task

In [ ]:
allDf = pd.concat([wrangle(df) for df in files], axis= 1 )

# Assingment is done Except 
1. task 11
2. to read the actual file, because it is not in utf-8 but it is in latin, so we have problem with floating point numbers
3. so I just read some lines, and applied the correct logic, then I will try to solve it later.

# Author: Abdelaziz Salah 
* Date 27/3/2023